.button-search-bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button-search-bar div {
  display: inline-block;
}

.books-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.book-description {
  width: 250px;
  transition: all 400ms ease-out 50ms;
}

