<div ng-include="'components/shell/shell.html'"></div>

<div class="book-page" >
    <div>
      <h1>{{book.name}}</h1>
      <img class="author-profile" src="{{book.author.avatar}}">
      <h3>By {{book.author.name}}</h3>
      <p>{{book.description}}</p>
      <p>Categories : </p>
      <a ui-sref="books({ category: book.genre.category })">{{book.genre.category}}</a>,
      <a ui-sref="books({ about: book.genre.name })">{{book.genre.name}}</a>
    </div>

    <div class="book-intro">
      <p ng-repeat="intro in book.introduction">{{intro.content}}</p>
    </div>

    <div class="books-related"  flex="70" flex-offset="15">
        <div ng-repeat="book in relatedBooks">
            <book-card book="book"/>
        </div>
    </div>
</div>